//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Flow+Block&family=Flow+Circular&display=swap');


// Add extra styles here
.wrapper{
    display: flex;
    gap: 10px
}

.govuk-paginationResults{
    display: flex;
    align-items: center;
}

.govuk-export{
    display: flex;
    gap: 10px;
}