//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Flow+Block&family=Flow+Circular&display=swap');


// Add extra styles here
.wrapper{
    display: flex;
    gap: 10px
}

.govuk-paginationResults{
    display: flex;
    align-items: center;
}

.govuk-export{
    display: flex;
    gap: 10px;
}

.search-term{
    background-color: #f3f2f1;
    border: 1px solid #f3f2f1;
}

.search-term-blank{
    border: 1px dashed #b1b4b6;
}

.search-term, .search-term-blank{
    font-family: "GDS Transport", arial, sans-serif;
    display: inline;
    padding: 4px 6px 4px 6px;
    border-radius: 4px;
    cursor: pointer;
}