{% extends "layouts/main.html" %}

{% block pageTitle %}
  Overview of the case - GOV.UK Forms
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Wireframe"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "case-manager"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Overview of the case</h1>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-2">Export case as:</p>
      <ul class="govuk-list govuk-export">
        <li>
          <a class="govuk-link" href="#">CSV</a>
        </li>
        <li>
          <a class="govuk-link" href="#">JSON</a>
        </li>
        <li>
          <a class="govuk-link" href="#">PDF</a>
        </li>
      </ul>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
      <nav>
        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a class="govuk-link" href="case">Overview</a>
          </li>
          <li>
            <a class="govuk-link" href="activity-log">Activity log</a>
          </li>
        </ul>
      </nav>
      </div>
      <div class="govuk-grid-column-two-thirds">
    
      {% set reference %}
        {{ ['Preparing papers for advisory board','Being reviewed by the advisory board','Transfer land ownership','Closing the case'] | random }}
      {% endset -%}
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date added on"
            },
            value: {
              text: "27 June 2021"
            }
          },
          {
            key: {
              text: "Case reference"
            },
            value: {
              text: "HDJ2123F"
            }
          },
          {
            key: {
              text: "Last change made on"
            },
            value: {
              text: "02 December 2021"
            }
          },
          {
            key: {
              text: "Case status"
            },
            value: {
              html: "<strong class='govuk-tag govuk-tag--green'>New</strong>"
            }
          },
          {
            key: {
              text: "Payment"
            },
            value: {
              html: "<strong>Not recieved</strong>"
            }
          }
        ]
      }) }}


        <h2 class="govuk-heading-l">Attachments</h2>
        <p class="govuk-body">Attachments from submitted form:</p>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/public/images/passport-photo.png">passport-photo.png</a></li>
</ul>
      <h2 class="govuk-heading-l">Details</h2>
      <h3 class="govuk-heading-s">Full name</h3>
      <p class="body govuk-block">
       Angela Zoe
      </p>
      <h3 class="govuk-heading-s">Date of birth</h3>
      <p class="body govuk-block">
        30/12/1980
      </p>
      <h3 class="govuk-heading-s">Phone number</h3>
      <p class="body govuk-block">
        07557609012
      </p>
      <h3 class="govuk-heading-s">Address</h3>
      <p class="body govuk-block">
        3 Glass Wharf, Bristol, BS2 0PS
      </p>
      <h3 class="govuk-heading-s">Email</h3>
      <p class="body govuk-block">
        angela.zoe@gmail.com
      </p>
      <h3 class="govuk-heading-s">Declaration signed?</h3>
      <p class="body govuk-block">
        Yes
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <h2 class="govuk-heading-l">Manage</h2>
      {{ govukSelect({
        id: "assigned-to",
        name: "assigned-to",
        label: {
          text: "Change who is assigned to the case"
        },
        items: [
          {
            value: "sasha-willifrid",
            text: "Sasha Willifrid"
          },
          {
            value: "orla-tegan",
            text: "Orla Tegan",
            selected: true
          },
          {
            value: "denis-vishnu",
            text: "Denis Vishnu"
          }
        ]
      }) }}
      {{ govukSelect({
        id: "case-status",
        name: "case-status",
        label: {
          text: "Change case status"
        },
        hint: {
          text: "Current status is recieved"
        },
        items: [
          {
            value: "recieved",
            text: "Recieved",
            selected: true
          },
          {
            value: "processing",
            text: "Processing"
          },
          {
            value: "closed",
            text: "Closed"
          }


        ]
      }) }}
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "Add notes to the case"
        }
      }) }}
      {{ govukButton({
        text: "Submit"
      }) }}
      </div>
    </div>
{% endblock %}