{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case manager for Fishing Permit Application Form
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "index"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <span class="govuk-caption-xl">Fishing Permit Application Form</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Case manager</h1>
    </div>
  </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">All cases</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">ID</th>
      <th scope="col" class="govuk-table__header">Date recieved</th>
    </tr>
  </thead>
  

     <tbody class="govuk-table__body">
        {% for case in cases %}
   
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><a href="case" class="govuk-link govuk-link--no-visited-state">{{ case.word }}</a></th>
      <td class="govuk-table__cell">{{ ["02 April 2009", "05 November 2014", "22 August 2008", "28 Febuary 2018", "02 December 2016", "14 May 2008", "22 June 2019"] | random }}</td>
    </tr>
   {% endfor %}
  </tbody>
          
     </table>
      </div>
    </div>
{% endblock %}