{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case manager for Fishing Permit Application Form - GOV.UK Cases
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Wireframe"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "dashboard"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
      <span class="govuk-caption-xl">Fishing Permit Application Form</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Case manager</h1>
      {{ govukButton({
        text: "Edit case manager"
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <section class="filters" id="filters">
        <form action="/all" method="post" id="filter-form">
          <h5 class="govuk-heading-m">Filter</h5>
          <div role="widget" class="filter">
            <div id="filter-crn" class="filters-wrapper govuk-!-margin-bottom-4" aria-hidden="true" aria-labelledby="filter-label-crn">
              {{ govukCheckboxes({
                idPrefix: "filter-assigned-to",
                name: "filterAssignedTo",
                classes: "govuk-!-margin-bottom-6 govuk-checkboxes--small",
                fieldset: {
                  legend: {
                    text: "Assigned to",
                    classes: "govuk-!-font-weight-bold",
                    isPageHeading: false
                  }
                },
                items: [
                  {
                    value: "denis-vishnu",
                    text: "Denis Vishnu",
                    checked: filterParams.status.referred.checked
                  },
                  {
                    value: "orla-tegan",
                    text: "Orla Tegan",
                    checked: filterParams.status.accepted.checked
                  },
                  {
                    value: "sasha-willifrid",
                    text: "Sasha Willifrid",
                    checked: filterParams.status.accepted.checked
                  },
                  {
                    value: "Not assigned",
                    text: "Not assigned",
                    checked: filterParams.status.accepted.checked
                  }
                ]
            }) }}
        </div>
      </div>
      <div role="widget" class="filter govuk-!-margin-bottom-6">
        {{ govukCheckboxes({
          idPrefix: "filter-status",
          name: "filterStatus",
          classes: "govuk-!-margin-bottom-4 govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Case status",
              classes: "govuk-!-font-weight-bold",
              isPageHeading: false
            },
            classes: "filters-wrapper"
          },
          items: [
          {
            value: "recieved",
            text: "Recieved",
            checked: filterParams.status.referred.checked
          },
            {
              value: "processing",
              text: "Processing",
              checked: filterParams.status.referred.checked
            },
            {
              value: "closed",
              text: "Closed",
              checked: filterParams.status.accepted.checked
            }
          ]
        }) }}
      </div>
      <div role="widget" class="filter govuk-!-margin-bottom-6">
        <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Date submitted</h4>
        {{ govukInput({
          label: {
            text: "From"
          },
          hint: {
            text: "For example, 2005 or 21/11/2014"
          },
          id: "from-date",
          name: "fromDate"
        }) }}
        {{ govukInput({
          label: {
            text: "To",
            classes: "govuk-!-margin-top-4"
          },
          hint: {
            text: "For example, 2019 or 21/11/2019"
          },
          id: "to-date",
          name: "toDate"
        }) }}
      </div>
      {{ govukButton({
        text: "Filter results",
        classes: "govuk-!-margin-top-4 govuk-button--secondary"
      }) }}
    </form>
  </section>
</div>
<div class="govuk-grid-column-two-thirds">
  <div class="search govuk-!-margin-bottom-4">
    <div class="search-term"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="12" height="12" viewBox="0 0 30 30">
    <path d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z"></path>
</svg> Manage AWS accounts</div>
    <div class="search-term-blank">Employee name</div>
    <div class="search-term-blank">Years worked</div>
    <div class="search-term-blank">Case created</div>

  </div>
  <div class="govuk-form-group govuk-!-margin-bottom-2">

    <label class="govuk-label govuk-label--m" for="search-cases">
      Search for a case
    </label>
    <div class="wrapper">
      <input class="govuk-input" id="search-cases" name="searchCases" type="text">
      <button class="govuk-button govuk-button--secondary govuk-!-margin-bottom-8 search" id="searchButton">Search</button>

    </div>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">All cases</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">ID</th>
            <th scope="col" class="govuk-table__header">Assigned to</th>
            <th scope="col" class="govuk-table__header">Date recieved</th>
            <th scope="col" class="govuk-table__header">Case status</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for case in cases %} 
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header"><a href="case" class="govuk-link govuk-link--no-visited-state">{{ case.word }}</a></th>
              <td class="govuk-table__cell">
                {% if case.added is not defined or case.added == '' %}
                  <strong class="govuk-body govuk-!-font-weight-bold">Not assigned</strong>
                {% else %}
                  {{ case.added | title }}
                {% endif %}
              </td>
              <td class="govuk-table__cell">{{ case.addedon | title  }}</td>
              <td class="govuk-table__cell">{{ case.status | title }}</td>
            </tr>
          {% endfor %}
        </tbody>  
     </table>
    <div class="govuk-grid-row govuk-!-margin-bottom-6 govuk-paginationResults">
      <div class="govuk-grid-column-one-half">
        {% include "layouts/pagination.njk" %}
      </div>
      <div class="govuk-grid-column-one-half">
        <p class="govuk-body-s govuk-!-text-align-right govuk-!-margin-bottom-0">
          {% if totalItems > 0 %}
            Showing {{ startIdx }} to {{ endIdx }} of {{ totalItems }} results
          {% else %}
            No results found
          {% endif %}
        </p>
      </div>
    </div>

  </div>
</div>
{% endblock %}