{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Cases
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Wireframe"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">GOV.UK Cases</h1>
      {{ govukButton({
        text: "Create a case manager",
        href: "#",
        isStartButton: true
      }) }}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group govuk-!-margin-bottom-2">
        {{ govukTable({
          caption: "Your cases",
          captionClasses: "govuk-table__caption--m",
          firstCellIsHeader: true,
          head: [
            {
              text: "Case name"
            },
            {
              text: "Status"
            }
          ],
          rows: [
            [
              {
                html: "<a href='case-manager?page=1'>Fishing Permit Application Form</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--green'>Live</strong>"
              }
            ],
            [
              {
                html: "<a href='case-manager?page=1'>Common land and greens: statutory disposition (CA8)</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--purple	'>Draft</strong>"
              }
            ],
            [
              {
                html: "<a href='case-manager?page=1'>Apply to protect a wine name or aromatised wine name</a>"
              },
              {
                html: "<strong class='govuk-tag govuk-tag--purple'>Draft</strong>"
              }
            ]
          ]
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
