{% extends "layouts/main.html" %}
{% block pageTitle %}
  Services for Department for Environment Food & Rural Affairs  - {{serviceName}}
{% endblock %}
{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">GOV.UK Case Manager</h1>
      
      {{ govukButton({
  text: "Create a case manager",
  classes: "govuk-!-margin-top-2",
  href: "create/type"
}) }}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-form-group govuk-!-margin-bottom-2">

{{ govukTable({
  caption: "Your case management",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Case manager name"
    },
    {
      text: "Status"
    }
  ],
  rows: [
    [
      {
        html: "<a href='case-manager'>Fishing Permit Application Form</a>"
      },
      {
        html: "      <strong class='govuk-tag govuk-tag--pink'>
          Draft
        </strong>"
      }
    ],
    [
      {
        text: "Common land and greens: statutory disposition (CA8)"
      },
      {
        html: "<strong class='govuk-tag govuk-tag--pink'>
          Draft
        </strong>"
      }
    ],
    [
      {
        text: "Apply to protect a wine name or aromatised wine name"
      },
      {
        html: "<strong class='govuk-tag govuk-tag--pink'>
          Draft
        </strong>"
      }
    ]
  ]
}) }}
  </div>
      </div>




    </div>
  </div>
{% endblock %}
