{% extends "layouts/main.html" %}

{% block pageTitle %}
  Case manager integration concept
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Version 1</span>
      <h1 class="govuk-heading-xl">Case manager integration with Forms</h1>
      <p class="govuk-body-lead">A concept demo which shows an example of how a case manager could integrate with the GOV.UK Forms product</p>
      <p class="govuk-body">This prototype has not been tested with users and is only a concept idea</p>
      <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>
      <h2 class="govuk-heading-l">Features</h2>
      <p class="govuk-body">Features that are currently prototyped are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Filtering and searching for a case</li>
        <li>Pagination through a list of cases</li>
        <li>View a case detail</li>
        <li>View if a payment has been made for a case</li>
        <li>View attachments that have been made through GOV.UK Forms</li>
        <li>Change a case status or add a note to a case</li>
        <li>See activity log of a case</li>
      </ul>
      <p class="govuk-body">Features that could be prototyped are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Sort by (case status, updated last)</li>
        <li>Reply to the end-user who made a form submission</li>
        <li>Analytics of processing cases</li>
        <li>Account management</li>
        <li>Third-party integrations</li>
        <li>Billing</li>
        <li>Data storage</li>
        <li>Reminders for appointments and tasks</li>
        <li>Scheduling and mangaing appointments</li>
        <li>Automation of tasks</li>
        <li>Knowledge articles</li>
        <li>Print a form or case</li>
        <li>Time recording a case</li>
        <li>Locking a case after inactivity for a set period of time</li>
      </ul>
    </div>
  </div>
{% endblock %}
